/* Day 2 Exercise Answer */

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.45;
}

p {
    margin-bottom: 1.5em;

    a {
        text-decoration: none;
        color: #CD746A;

        &:hover {
            color: #fff;
            background-color: #333;
        }
    }
}

blockquote {
    font-style: italic;

    cite {
        a {
            color: #333;

            &:hover {
                color: #CD746A;
                text-decoration: underline;
            }
        }

        &:before {
            content: "- ";
        }
    }
}

.container {
    width: 960px;
    margin: 0 auto;

    .fluid-layout & {
        width: 85%;
    }
}
