/* Day 6 - Data types */

// Numbers
body {
    margin: 100px; // numbers with units
    line-height: 1.5; // decimal numbers without units
    font-weight: 800; // whole numbers without units
    padding: 1%; // percentages
}



// Strings
.container {
    font-family: "Helvetica", Arial, sans-serif;
    font-weight: bold;

    &:before {
        content: "This is a pseudo-element";
    }
}

$string: "element";

.parent-#{$string} {
    padding: 1em;
}



// Colors
.btn {
    color: #cccccc;
    background-color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, .5);
    border-top-color: hsl(155, 33%, 65%);
    border-bottom-color: blue;
}



// Lists
.sidebar {
    padding: 3em;
    margin: 1em 2em 3em 4em;
    font-family: Helvetica, Arial, sans-serif;
    box-shadow: 0 0 3px #999, 10px 10px 20px #555;
}

body.serif {
    font: 400 15px/1.5 Georgia, serif;
}



// Maps
$colors: (
    1: #89C3AB,
    2: #636363
);

$additional-colors: (
    'color-1': red,
    'color-2': blue
);

$margins: (
    tight: 10px 20px,
    compact: 30px,
    large: 5em
);

// If the inner lists have the same separator as the outer list, use parantheses
$fonts: (
    option-1: (Arial, sans-serif),
    option-2: (Helvetica, sans-serif)
);

footer {
    background-color: map-get($colors, 1);
    border-color: map-get($additional-colors, 'color-2');
    margin: map-get($margins, compact);
    padding: map-get($margins, tight);
    font-family: map-get($fonts, option-1);
}
