/* Day 12 - @if and @for directives */
body {
  font-family: Arial, sans-serif; }

.button {
  background-color: gray; }

.cell {
  background: blue; }

.cell {
  background: blue; }

.cell {
  background: blue; }

#comment-10:before {
  content: "10"; }

#comment-9:before {
  content: "9"; }

#comment-8:before {
  content: "8"; }

#comment-7:before {
  content: "7"; }

#comment-6:before {
  content: "6"; }

#comment-5:before {
  content: "5"; }

#comment-4:before {
  content: "4"; }

#comment-3:before {
  content: "3"; }

#comment-2:before {
  content: "2"; }

#comment-1:before {
  content: "1"; }

.bar, #bar-1, #bar-2, #bar-3, #bar-4 {
  width: 2em;
  display: inline-block;
  background: #ccc;
  margin-right: 1px;
  float: left; }

#bar-1 {
  height: 1em; }

#bar-2 {
  height: 2em; }

#bar-3 {
  height: 3em; }

#bar-4 {
  height: 4em; }
