/* Day 6 Exercise
 *
 * Create an .scss file that allows you to change the typography theme of a page
 * by adding the class of .theme-sans or .theme-serif to the <body> tag.
 *
 * The two themes should be easily changeable. The output should be similar to the one below.
 *
 * body.theme-sans {
 *     font: 1.125em/1.5 Arial, sans-serif;
 * }
 * body.theme-serif {
 *     font: 1.5em/1.4 Georgia, serif;
 * }
 *
 * In the end, compare it with the result from the /exercise-answer folder.
 * Good luck! */
