/* Day 2 - Nesting */

/* General styles */
* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

p {
    margin-bottom: 1.3em;
    color: #666;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 .5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.157em;
}

h2 { font-size: 2.369em; }

h3 { font-size: 1.777em; }

h4 { font-size: 1.333em; }

small { font-size: .75em; }



/* Layout specific */
.container {
    width: 90%;
    margin: 0 auto;
}
