/* Day 11 - @extend directive */

.btn {
    display: inline-block;
    padding: 1em;
    font-size: 1rem;
    background-color: #FBFBFB;
    border: 1px solid #F6F6F6;
    border-radius: 5px;
}

.btn-large {
    @extend .btn;

    font-size: 2rem;
    padding: 1em 2em;
    border-radius: 10px;
}

.btn-xlarge {
    @extend .btn-large;

    font-size: 2.5rem;
}

.btn-primary {
    background-color: tomato;
    color: #fff;
    text-transform: uppercase;
}

.btn-cta {
    @extend .btn-xlarge;
    @extend .btn-primary;
}

@media screen and (max-width: 1000px) {
    .submit {
        background-color: #ccc;
        color: #999;
    }

    input[type="submit"] {
        @extend .submit;

        // @extend .btn;
    }
}
