/* Day 13 Exercise
 *
 * This is a .css file.
 *
 * Your assignment is to write the Sass code responsible for generating this.
 *
 * You should use the least amount of Sass code possible and don't use maps.
 *
 * In the end, compare it with the result from the /exercise-answer folder.
 * Good luck! */

/* @each directive exercise outcome */
#social-twitter {
    background: url("images/icon-social-twitter.png");
    color: #58ABEC;
}
#social-twitter:before {
    content: "Follow us on Twitter";
}

#social-facebook {
    background: url("images/icon-social-facebook.png");
    color: #3E578D;
}
#social-facebook:before {
    content: "Connect with us on Facebook";
}

#social-email {
    background: url("images/icon-social-email.png");
    color: #96CC6B;
}
#social-email:before {
    content: "Email us";
}



/* @while directive exercise outcome */
.element-10 {
    height: 25em;
}

.element-8 {
    height: 20em;
}

.element-6 {
    height: 15em;
}

.element-4 {
    height: 10em;
}

.element-2 {
    height: 5em;
}
