/* Day 2 - Nesting */

/* General styles */
* { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.125em;
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #333;

    &.boxed-layout {
        background-color: #F9F9F9;
    }
}

p {
    margin-bottom: 1.3em;
    color: #666;

    a {
        color: #589ED3;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4 {
    margin: 1.414em 0 .5em;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.157em;
}

h2 { font-size: 2.369em; }

h3 { font-size: 1.777em; }

h4 { font-size: 1.333em; }

small { font-size: .75em; }



/* Layout specific */
.container {
    width: 90%;
    margin: 0 auto;

    .boxed-layout & {
        background-color: #fff;
        padding: 3em;
        border: 1px solid #eaeaea;
        border-width: 0 1px;
    }

    > header {
        h1 {
            font-size: 4em;
            font-weight: 800;
        }
    }
}

nav {
    padding: 3em 0;

    ul {
        list-style: none;
        padding: 0;
        overflow: hidden;

        li {
            float: left;

            a {
                display: inline-block;

                color: #333;
                padding: 1em;

                &:hover {
                    text-decoration: none;
                    background-color: #eaeaea;
                }
            }

            &:after {
                content: "";
                border: 1px dotted #ccc;
                width: 1px;
                height: 100%;
            }
        }
    }
}



// The parent selector can be used in a few different ways
#demo {
    &-child { margin: .5em; }
    &child { margin: .5em; }
    &.child { margin: .5em; }
    & .child { margin: .5em; }
}
