/* Day 14 - Mixins */

@mixin featured {
    font-size: 120%;
    font-weight: bold;
    border-color: #ff0000;
}

.section {
    // regular section CSS here

    @include featured;
}

@mixin round($radius: 10px) {
    border-radius: $radius;

    @include featured;
}

.button {
    @include round(2em);
}

.another-button {
    @include round;
}

@mixin border-box {
    * {
        box-sizing: border-box;
    }
}

@include border-box;

@mixin box-shadow($args...) {
    -webkit-box-shadow: $args;
    box-shadow: $args;
}

.element {
    @include box-shadow(1px 1px 5px 0 #000000);
}

.element-2 {
    @include box-shadow(1px 1px 5px 0 #000000, 2px 10px 15px rgba(0, 0, 0, .5));
}
